{% extends "layout.html" %}

{% block content %}
<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'partials/sidebar.html' %}
            </div>
            <div class="col-md-9">
                <h2>Liste des Patients</h2>
                <table class="table table-bordered border-primary">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Date de naissance</th>
                        <th>Sexe</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for patient in patients %}
                    <tr>
                        <td>{{ patient.last_name }}</td>
                        <td>{{ patient.first_name }}</td>
                        <td>{{ patient.email }}</td>
                        <td>{{ patient.date_of_birth }}</td>
                        <td>{{ patient.gender }}</td>
                        <td>
                            <a href="{% url 'patients:patient_detail' patient.pk %}" class="btn btn-sm btn-info">
                                Voir détails
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}